:root {
  font-size: 4px;
}
html {
  color: var(--text-c);
  background-color: var(--bg-c);
  transition: background 0.8s;
}
html.dark {
  background-color: var(--dark-bg-c);
  color: var(--dark-text-c);
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  &:hover {
    background-color: currentColor;
  }
}

/* draggable */
// 托拖拽时 原元素样式
.ghost {
  visibility: hidden;
}
.dragging-site {
  opacity: 1 !important;
  .site__handle {
    background-color: var(--site-hover-c);
  }
}
.dragging-group {
  opacity: 1 !important;
  .group__handle {
    background-color: var(--site-hover-c);
  }
}
.dragging-cate {
  opacity: 1 !important;
}